/* reseting default styling */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* body */
body{
    background: #efecec;
    font-family: "Nunito", sans-serif;
    
}

#mainNavbar .navbar-brand{
    color: #140102;
    font-size: 1.5rem;
    
}


#mainNavbar .nav-link{
    color: rgb(7, 0, 0);
}

#mainNavbar .nav-link:hover{
   color: #EA1C2C;
}


#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100%;

}


#headingGroup span{
    color: #EA1C2C ;

}

#headingGroup h1{
    font-weight: 100;
    font-size: 2rem;
    
}


#first{
    padding: 0%;
}

.blurb h2{
    color: black;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}


#Donation-div{

}

#paragraph2{
    line-height: 2;
}

#section-two img{
    height:20%;
}
#section-two p{
height:180px;
}


/* media queries */

/* big phone and small tablet */
@media only screen and (max-device-width:560px){
    #headingGroup h1{
        padding-top:5px;
        font-size: 1.2rem;
        
    }
    .blurb h2{
        font-size:1.8rem;
    }
    #paragraph{
        font-size:1.1rem;
    }
    #img-3{
        height:8%;
    }
}

/* small phone */
@media only screen and (max-device-width:340px){
        #headingGroup h1{
            padding-top:5px;
            font-weight: 100;
            font-size: 1rem;
            
        }
        .blurb h2{
            font-size:1.5rem;
        }
        #paragraph{
            font-size:1rem;
        }
        #img-3{
            height:8%;
        }
    }

